--extra-index-url https://download.pytorch.org/whl/cu126
jupyter
jupyterlab
ipywidgets
matplotlib
numpy
requests
scikit-learn
tqdm
keras
tensorflow[and-cuda]
pandas
seaborn
scipy
pillow
black
opencv-python
optuna
scikit-image
pyarrow
opencv-python
plotly
tensorflow[and-cuda]
nltk
textblob
transformers
datasets
huggingface_hub
evaluate
torchinfo
attention
kagglehub
tf-keras
ultralytics
wordcloud
tf2onnx
onnxruntime
